This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [60]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = ''

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [61]:
# First, import the relevant modules

In [62]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned

In [63]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

#  Inspection of the JSON structure

In [64]:
import json
import pandas as pd
import requests
import numpy as np

# 1.Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD)

In [65]:
df=requests.get("https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?&start_date=2014-01-01&end_date=2014-12-31&api_key=qnh54zghmUSh3agVViUM")

# 2. Convert the returned JSON object into a Python dictionary

In [66]:
json_data=df.json()
print('First Inspection \n\n', json_data.keys())
print('\nSecond Inspection \n\n', json_data['dataset'].keys())
print('\nData Extraction \n\n', json_data['dataset']['data'][1:10])

First Inspection

 dict_keys(['dataset'])

Second Inspection

 dict_keys(['id', 'dataset_code', 'database_code', 'name', 'description', 'refreshed_at', 'newest_available_date', 'oldest_available_date', 'column_names', 'frequency', 'type', 'premium', 'limit', 'transform', 'column_index', 'start_date', 'end_date', 'data', 'collapse', 'order', 'database_id'])

Data Extraction

 [['2014-12-29', 21.37, 21.48, 21.12, 21.27, None, 78057.0, 1664603.0, None, None, None], ['2014-12-23', 21.52, 21.52, 21.31, 21.44, None, 53070.0, 1138122.0, None, None, None], ['2014-12-22', 20.7, 21.54, 20.65, 21.43, None, 95472.0, 2030502.0, None, None, None], ['2014-12-19', 20.5, 20.68, 20.2, 20.55, None, 69878.0, 1423603.0, None, None, None], ['2014-12-18', 20.16, 20.55, 20.16, 20.33, None, 56407.0, 1151396.0, None, None, None], ['2014-12-17', 20.01, 20.26, 19.96, 20.2, None, 55311.0, 1113840.0, None, None, None], ['2014-12-16', 20.05, 20.35, 19.83, 20.1, None, 115618.0, 2315260.0, None, None, None], ['2014-12-15', 20.34, 20.5, 19.86, 19.88, None, 92280.0, 1856403.0, None, None, None], ['2014-12-12', 20.4, 20.64, 20.18, 20.32, None, 82923.0, 1687577.0, None, None, None]]

In [67]:
j_data=json_data['dataset']['data']
j1_data=pd.DataFrame(j_data,columns=json_data['dataset']['column_names'])
j1_data

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2014-12-30,21.27,21.27,20.97,21.10,None,42065.0,888369.0,None,None,None
1,2014-12-29,21.37,21.48,21.12,21.27,None,78057.0,1664603.0,None,None,None
2,2014-12-23,21.52,21.52,21.31,21.44,None,53070.0,1138122.0,None,None,None
3,2014-12-22,20.70,21.54,20.65,21.43,None,95472.0,2030502.0,None,None,None
4,2014-12-19,20.50,20.68,20.20,20.55,None,69878.0,1423603.0,None,None,None
5,2014-12-18,20.16,20.55,20.16,20.33,None,56407.0,1151396.0,None,None,None
6,2014-12-17,20.01,20.26,19.96,20.20,None,55311.0,1113840.0,None,None,None
7,2014-12-16,20.05,20.35,19.83,20.10,None,115618.0,2315260.0,None,None,None
8,2014-12-15,20.34,20.50,19.86,19.88,None,92280.0,1856403.0,None,None,None
9,2014-12-12,20.40,20.64,20.18,20.32,None,82923.0,1687577.0,None,None,None
10,2014-12-11,20.60,20.60,20.20,20.55,None,152041.0,3107296.0,None,None,None
11,2014-12-10,20.61,21.14,20.50,20.85,None,102608.0,2140387.0,None,None,None
12,2014-12-09,20.64,20.71,20.13,20.50,None,128412.0,2624163.0,None,None,None
13,2014-12-08,20.84,20.93,20.25,20.50,None,229863.0,4701729.0,None,None,None
14,2014-12-05,21.72,21.81,21.18,21.50,None,53943.0,1155945.0,None,None,None
15,2014-12-04,21.79,21.86,21.53,21.65,None,54375.0,1179396.0,None,None,None
16,2014-12-03,21.81,21.96,21.50,21.85,None,39541.0,863183.0,None,None,None
17,2014-12-02,22.02,22.05,21.85,21.94,None,20556.0,451090.0,None,None,None
18,2014-12-01,22.10,22.14,21.82,21.91,None,21706.0,477060.0,None,None,None
19,2014-11-28,22.15,22.19,21.99,22.11,None,15744.0,347670.0,None,None,None
20,2014-11-27,22.00,22.25,21.98,22.24,None,25210.0,558860.0,None,None,None
21,2014-11-26,22.30,22.39,21.87,21.97,None,29389.0,648397.0,None,None,None
22,2014-11-25,22.30,22.50,22.29,22.45,None,35341.0,791070.0,None,None,None
23,2014-11-24,22.52,22.52,22.26,22.41,None,28094.0,628700.0,None,None,None
24,2014-11-21,22.57,22.57,22.16,22.40,None,21341.0,476686.0,None,None,None
25,2014-11-20,21.93,22.36,21.93,22.35,None,22400.0,496783.0,None,None,None
26,2014-11-19,22.00,22.22,21.84,22.15,None,45931.0,1015349.0,None,None,None
27,2014-11-18,21.62,22.21,21.62,22.02,None,50277.0,1104325.0,None,None,None
28,2014-11-17,21.55,21.72,21.31,21.59,None,32349.0,696475.0,None,None,None
29,2014-11-14,21.76,21.89,21.50,21.77,None,21539.0,468033.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
222,2014-02-12,21.62,21.95,21.50,21.61,None,53145.0,1152297.0,None,None,None
223,2014-02-11,21.50,21.78,21.45,21.64,None,70279.0,1519434.0,None,None,None
224,2014-02-10,20.94,21.40,20.90,21.36,None,76892.0,1626715.0,None,None,None
225,2014-02-07,21.40,21.45,20.61,20.96,None,137498.0,2882901.0,None,None,None
226,2014-02-06,21.60,21.60,21.30,21.40,None,71837.0,1546029.0,None,None,None
227,2014-02-05,21.40,21.65,21.31,21.44,None,39173.0,838432.0,None,None,None
228,2014-02-04,21.43,21.65,21.28,21.44,None,104799.0,2251412.0,None,None,None
229,2014-02-03,21.85,21.85,21.41,21.52,None,69505.0,1502348.0,None,None,None
230,2014-01-31,21.90,21.94,21.56,21.74,None,51870.0,1127877.0,None,None,None
231,2014-01-30,21.95,22.10,21.81,21.94,None,27976.0,614446.0,None,None,None
232,2014-01-29,22.25,22.30,21.90,22.05,None,86828.0,1916136.0,None,None,None
233,2014-01-28,22.11,22.37,22.11,22.17,None,17523.0,389385.0,None,None,None
234,2014-01-27,22.32,22.45,22.11,22.22,None,78065.0,1735633.0,None,None,None
235,2014-01-24,22.84,22.86,22.43,22.51,None,28029.0,633011.0,None,None,None
236,2014-01-23,22.95,23.03,22.75,22.76,None,62890.0,1437532.0,None,None,None
237,2014-01-22,23.19,23.22,23.06,23.15,None,45111.0,1044456.0,None,None,None
238,2014-01-21,22.84,23.29,22.80,23.17,None,70335.0,1624994.0,None,None,None
239,2014-01-20,22.70,22.83,22.46,22.75,None,64731.0,1464936.0,None,None,None
240,2014-01-17,22.60,22.60,22.40,22.55,None,57106.0,1285158.0,None,None,None
241,2014-01-16,22.42,22.60,22.35,22.48,None,34382.0,772427.0,None,None,None
242,2014-01-15,22.50,22.72,22.28,22.43,None,114846.0,2577599.0,None,None,None
243,2014-01-14,22.76,22.76,22.30,22.47,None,73573.0,1653009.0,None,None,None
244,2014-01-13,23.27,23.27,22.70,22.80,None,73177.0,1671846.0,None,None,None
245,2014-01-10,23.31,23.31,22.92,22.99,None,90100.0,2075460.0,None,None,None
246,2014-01-09,23.10,23.44,23.05,23.44,None,55237.0,1285266.0,None,None,None
247,2014-01-08,22.92,23.32,22.75,23.00,None,118068.0,2719474.0,None,None,None
248,2014-01-07,24.30,24.31,22.63,22.80,None,212702.0,4926333.0,None,None,None
249,2014-01-06,24.50,24.68,24.23,24.30,None,20469.0,500796.0,None,None,None
250,2014-01-03,24.04,24.47,24.03,24.47,None,20503.0,499475.0,None,None,None
251,2014-01-02,24.24,24.76,23.77,24.18,None,55735.0,1355658.0,None,None,None

# 3.Calculate what the highest and lowest opening prices were for the stock in this period.

In [68]:
print("The Highest opening price for the stock in this period is {}" .format(j1_data['Open'].max()))

The Highest opening price for the stock in this period is 24.5

In [69]:
print("The Lowest opening price for the stock in this period is {}" .format(j1_data['Open'].min()))

The Lowest opening price for the stock in this period is 19.76

# 4.What was the largest change in any one day (based on High and Low price)?

In [70]:
list_low = []
list_high = []
for i in j_data:
    list_low.append(i[3])
    list_high.append(i[2])
np_list_low = np.array(list_low)
np_list_high = np.array(list_high)

In [71]:
max(np_list_high-np_list_low)

2.1400000000000006

# 5.What was the largest change between any two days (based on Closing Price)?

In [72]:
list_Close = []
for i in j_data:
    list_Close.append(i[4])

np_list_Close = np.array(list_Close)
print("Largest change between any two days  is  {}".format(max(np_list_Close)- min(np_list_Close)))

Largest change between any two days  is  4.649999999999999

# 6.What was the average daily trading volume during this year?

In [73]:
list_Trade = []
for i in j_data:
    list_Trade.append(i[6])

np_list_Trade = np.array(list_Trade)
print("The average daily trading volume during this year  is {}".format(sum(np_list_Trade)/len(np_list_Trade)))

The average daily trading volume during this year  is 50155.206349206346

# 7.What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median)

In [74]:
np_list_Trade

array([ 42065.,  78057.,  53070.,  95472.,  69878.,  56407.,  55311.,
       115618.,  92280.,  82923., 152041., 102608., 128412., 229863.,
        53943.,  54375.,  39541.,  20556.,  21706.,  15744.,  25210.,
        29389.,  35341.,  28094.,  21341.,  22400.,  45931.,  50277.,
        32349.,  21539.,  15912.,  12371.,  18650.,  18015.,  21614.,
        26704.,  33881.,  14858.,  17346.,  63925.,  22298.,  21358.,
        30139.,  30076.,  33676.,  27672.,  46588.,  32431.,  71280.,
        55012., 140166.,  68918.,  47232.,  67621.,  83764.,  24412.,
        77534.,  86042., 130270., 148238.,  32156.,  24723.,  44222.,
        19234.,  11585.,  13496.,  29525.,  34781.,  73811.,  11920.,
        11472.,  21710.,  13247.,  24902.,  25071.,  83609.,  33377.,
        37824.,  14124.,  19476.,  19648.,  41799.,  14376.,  37762.,
        18005.,  22301.,  25088.,  45456.,  22715.,  58289.,  21654.,
        35628.,  19494.,  71369.,  23590.,  16276.,  16181.,  45752.,
        40430.,  36364.,  46852.,  12534.,  31933.,  47257.,  30016.,
        19756.,  26875.,  18420.,  30338.,  66233.,  58021.,  36755.,
        41950.,  79316.,  31595.,  39411.,  33857.,  24582.,  28947.,
        75304.,  43773., 130713.,  68351.,  59751.,  49106.,  23859.,
        54078., 103221.,  13263.,  50906.,  29033.,  38262.,  46576.,
        89920.,  36578.,  35270.,  32242.,  17438.,  29122.,  32089.,
        30683.,  49003.,  10555.,  22976.,  22450.,  38738.,  15594.,
        32603.,  28667.,  14723.,  42347.,  50548.,  23221.,  22307.,
        29156.,  76815.,  40210.,  38054.,  65494.,  25062.,  34154.,
        40872.,  67334., 159223.,  73707.,  47451.,  46145.,  69546.,
        31300.,  34827.,  41050.,  57155.,  53870.,  70458.,  19829.,
        53342.,  25710.,  43176.,  32867.,  36896.,  42070.,  42030.,
        67785.,  58846.,  97776., 132226.,  63221., 107072.,  36363.,
        77913.,  19490.,  32790.,  43398.,  45945.,  44128.,  94417.,
        71886.,  62878.,  54324., 108720., 109217.,  66735.,  43084.,
        63320.,  41878.,  38815.,  38700.,  52579.,  39147.,  77212.,
        58790.,  50410.,  17692.,  33102.,  48947.,  44529.,  45247.,
        44953.,  44997.,  64981., 112844.,  62464.,  53145.,  70279.,
        76892., 137498.,  71837.,  39173., 104799.,  69505.,  51870.,
        27976.,  86828.,  17523.,  78065.,  28029.,  62890.,  45111.,
        70335.,  64731.,  57106.,  34382., 114846.,  73573.,  73177.,
        90100.,  55237., 118068., 212702.,  20469.,  20503.,  55735.])

In [75]:
len(np_list_Trade)

252